body {
    margin: 0;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-optical-sizing: auto;
}

.blue-background {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    color: white;
}

.header .header-logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header .header-secondary-text {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
    gap: 20px;
    padding: 0;
}