body {
    margin: 0;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-optical-sizing: auto;
}

.blue-background {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    color: white;
}